<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @like.place_id %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @like.userId %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
