= form_for @place do |f|
  .row    
    .col-md-4
      %div{ class: "input-group input-group-lg" }
        %span{ class: "input-group-addon" } 名字
        = f.text_field :name, class: "form-control", placeholder: "读觅地点的名字", "aria-describedby" => "basic-addon1" 
    .col-md-4
      %div{ class: "input-group input-group-lg" }
        %span{ class: "input-group-addon" } 作者
        = f.text_field :author, class: "form-control", placeholder: "你的名字", "aria-describedby" => "basic-addon1" 
    .col-md-4
      %div{ class: "form-group form-group-lg" }
        = f.select :category, Place::CATEGORY_TYPES, {}, class: "form-control"
  .row
    .col-md-4
      %div{ class: "input-group input-group-lg" }
        %span{ class: "input-group-addon" } 营业时间
        = f.text_field :business_hours, class: "form-control", placeholder: "8:00-21:00", "aria-describedby" => "basic-addon1"
    
    .col-md-8
      %div{ class: "input-group input-group-lg" }
        %span{ class: "input-group-addon" } 简述
        = f.text_field :description, class: "form-control", placeholder: "一句话描述", "aria-describedby" => "basic-addon1"
  .row
    .col-md-9
      #mapContainer
        %p 地图加载中...
    .col-md-3
      %div{ class: "input-group input-group-small" }
        %span{ class: "input-group-addon" } 经度
        = f.text_field :longitude, class: "form-control", placeholder: "经度", "aria-describedby" => "basic-addon1"

      %div{ class: "input-group input-group-small" }
        %span{ class: "input-group-addon" } 纬度
        = f.text_field :latitude, class: "form-control", placeholder: "纬度", "aria-describedby" => "basic-addon1"

  %div{ class: "row place-panel" }
    .col-md-4
      %div{ class: "panel panel-primary" }
        .panel-heading 读觅图片 1
        .panel-body
          %div{ class: "input-group input-group-small" }
            = f.file_field :picture_01, id: "select-image-1"
            -# = f.hidden_field :picture_01_cache 
          #preview-1
            = image_tag @place.picture_01_url
        .panel-footer 可以上传或更改图片
    .col-md-4
      %div{ class: "panel panel-primary" }
        .panel-heading 读觅图片 2
        .panel-body
          %div{ class: "input-group input-group-small" }
            = f.file_field :picture_02, id: "select-image-2"
          #preview-2
            = image_tag @place.picture_02_url
        .panel-footer 可以上传或更改图片
    .col-md-4
      %div{ class: "panel panel-primary" }
        .panel-heading 读觅图片 3
        .panel-body
          %div{ class: "input-group input-group-small" }
            = f.file_field :picture_03, id: "select-image-3"
          #preview-3
            = image_tag @place.picture_03_url
        .panel-footer 可以上传或更改图片
    

  = f.submit "保存", class: "btn btn-primary"