<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @place.imgUrl %>
</p>

<p>
  <strong>Longtitude:</strong>
  <%= @place.longtitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @place.intro %>
</p>

<p>
  <strong>Html:</strong>
  <%= @place.html %>
</p>

<p>
  <strong>Author:</strong>
  <%= @place.author %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
