!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dumi
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div{ calss: "navbar navbar-inverse navbar-fixed-top" }
      .container
        .navbar-header
          %button{ class: "navbar-toggle collapsed", 
					        "data-toggle" => "collapsed",
									"data-target" => "#navbar",
									"aria-expanded" => "false",
									"aria-contrlols" => "navbar"}
            %span{ class: "sr-only" } Toggle navigation
            %span{ class: "icon-bar" }
            %span{ class: "icon-bar" }
            %span{ class: "icon-bar" }
          %a{ class: "navbar-brand", href: "#" } 读觅
        #navbar{ class: "collapse collapse navbar-collapse" }												
          %ul{ class: "nav navbar-nav" }
            %li{ class: "active" } 
              = link_to "好地方", places_path
            %li{ class: "" } 
              %a{ href: "/apidoc" } API
            %li{ class: "" } 
              %a{ href: "#" } 关于
    = yield
